*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  background-color: #fff;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px 300px 100px 100px;
  padding: 10px;
  gap: 10px;
  
}
.container > div {
    background-color: #000;
    color: #f1f1f1;
    padding: 10px;
    font-size: 30px;
  }
  